html,
body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100dvh;
  width: 100dvw;
  overflow-y: auto;
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-items: start;
  align-items: center;
}
.title-container {
  margin-top: 2rem;
  font-size: x-large;
  width: 100%;
  text-align: center;
}

.search-container {
  width: 80%;
}

.input-style {
  width: 100%;
  padding: 1rem;
  border-radius: 15px;
  font-size: larger;
}

.gallery {
    column-count: 4;
    --webkit-column-count: 4;
    --moz-column-count: 4;
    padding: 2rem;
}

.image img {
    height: auto;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 1rem;
}

/* Responsive-ness for different screen-sizes */
@media screen and (max-width: 810px) {
    .gallery {
        column-count: 3;
        --webkit-column-count: 3;
        --moz-column-count: 3;
    }
}

@media screen and (max-width: 500px) {
    .gallery {
        column-count: 2;
        --webkit-column-count: 2;
        --moz-column-count: 2;
    }
}

@media screen and (max-width: 400px) {
    .gallery {
        column-count: 1;
        --webkit-column-count: 1;
        --moz-column-count: 1;
    }
}